<clr-main-container>
  <div class="login-wrapper">
    <form class="login">
      <label class="title">
            <!-- <h3 class="welcome">Welcome to</h3> -->
            โปรแกรมส่งออก 5 แฟ้ม
            <h5 class="hint">MMIS Export 5 file to phdb.</h5>
        </label>
      <div class="login-group">
        <div class="row">
          <div class="col-md-4">Host:</div>
          <div class="col-md-8">
            <input type="text" name="host" clrInput placeholder="Host" [(ngModel)]="host" />
          </div>
  
          <div class="col-md-4">Username:</div>
          <div class="col-md-8"> <input type="text" name="username" clrInput placeholder="Username"
              [(ngModel)]="username" /></div>
  
          <div class="col-md-4">Password:</div>
          <div class="col-md-8"> <input type="password" name="password" clrPassword placeholder="Password"
              [(ngModel)]="password" /></div>
  
          <div class="col-md-4">Port:</div>
          <div class="col-md-8"><input type="text" name="port" clrInput placeholder="Port" [(ngModel)]="port" />
          </div>
  
          <div class="col-md-4">Database Name:</div>
          <div class="col-md-8"><input type="text" name="databaseName" clrInput placeholder="Database Name"
              [(ngModel)]="databaseName" /></div>
  
        </div>
        <div class="error active" *ngIf="isError">
          Invalid user name or password
        </div>
        <button type="submit" class="btn btn-primary"(click)="test()">TEST</button>
        <button type="submit" class="btn btn-success"(click)="save()">Save & Next</button>
        <a href="javascript://" class="signup">Sign up for a Company ID</a>
      </div>
    </form>
  </div>

</clr-main-container>